
<div class="search-result-module-item clearfix">
    <div class="entry clearfix">
        <div class="fl wd700" style="border-right: 5px solid #eee;">
             <!-- 股票相关 -->
            <%-include('./stock.ejs')%>
            <div class="mt20"><img src="https://g1.dfcfw.com/g4/202004/20200401173525.gif" width="100%"></div>
            <!--期货现货相关 -->
            <%-include('./futures.ejs')%> 
            <!--板块相关 -->
            <%-include('./bk.ejs')%>
            <!--基金相关 -->
            <%-include('./fund.ejs')%> 
            <!--其它相关 -->
            <%-include('./others.ejs')%> 
        </div>
        <div class="fl wd295"> 
            <!--股票相关-->
            <%-include('../../../shared/tools.ejs')%>
        </div>
    </div>
</div>
