
<div class="cont-div">
        <div class="wd1000">
            <div class="search-result-sum">
                <%-include('../../shared/searchresult.ejs')%>
            </div>
            <div class="search-result-list">
                <%-include('./stock.ejs')%> 
                <%-include('./a_stock_index.ejs')%> 
                <%-include('./futures.ejs')%>
                <%-include('./newslist.ejs')%>
            </div>
        </div>
</div>
<%- blockFor("htmlbottom") %>
<script src="../js/web.js"></script>
