

<div class="wd1000">
    <div class="search-result-sum">
        <%-include('../../shared/searchresult.ejs')%>
    </div>
    <div class="search-result-list">
        <%-include('./stock.ejs')%>
        <%-include('./a_stock/index.ejs')%>
        <%-include('./futures.ejs')%>
    </div>
</div>
<%- blockFor("htmlbottom") %>
<script src="../js/style_a_stock.js"></script>
